body{
    font-family: 'Martian Mono', monospace;
}
/***Navbar***/
.nav-item{
    text-spacing : .2em;
    font-size : 14px;
    text-transform : uppercase;
    }

.dropdown-item{
   text-spacing : .2em;
   font-size : 14px;
   text-transform : uppercase;

}
.my_footer{
    backgound-color : #af8ef2
    height : 60px;
}

.my_footer p{
    padding-top : 20px;
    font-size : 14px;

}

/*** category ***/
.my_row_class{
    padding-top : 15px;
}
.my_row_class .mx_auto{
    color : #000;
    font-size : 12px;
}
.my_image{
    width : 100%;
    height : auto;
}
.my_title{
    font-size : 16px;
    text-transform : uppercase;
    letter-spacing : .2em;
}
.my_image_padding{
    padding : 5px;
}
.my_bottom_margin{
    margin-bottom : 10px;
}
.card-body h4{
    font-size : 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.my_pro_row_class{
    padding-top: 15px;
    padding-bottom: 20px;
}
.my_class_text{
padding-top: 20px;
}

/***Cart page ***/
.my_custom_table{
    min-width: 500px;
    font-size: 14px;
}
.my_custom_head{
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    backgound-color: #f8f8fa!important;
}
.custom_a{
    text-decoration: none;
}
.custom_icon{
    text-decoration: none;
    color: #868e96!important;
}
.my_custom_button{
    margin-top: 5px;
}



